:root {
  /* Primary */
  --Violet: hsl(257, 40%, 49%);
  --SoftMagenta: hsl(300, 69%, 71%);
}

body {
  background: url(/images/bg-mobile.svg) hsl(257, 40%, 49%) no-repeat;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.container {
  width: 375px;
  margin: 0px;
  display: flex;
  flex-flow: column wrap;
 

}
.link-brand {
  cursor: default;
}
.icon-brand_img {
  padding-top: 35px;
  padding-left: 14px;
  margin-left: 15px;
  width: 150px;
}
.img {
  width:350px;
  padding-top: 50px;
  padding-left: 19px;
}

.section-inf {
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.title-inf {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.paragraph-inf {
  font-size: 10px;
  display: inline-block;
}

.btn-basic {
  width: 170px;
  height: 30px;
  margin: 30px;
  border-radius: 30px;
  background: #fff;
  border: 1px solid #fff;
  color: var(--Violet);
  text-align: center;
}
.btn-basic:hover {
  background: var(--SoftMagenta);
  border: 1px solid var(--SoftMagenta);
  color: #fff;
}
.bloque-icons-sociales{
text-align: center;
margin: 10px;
}
.footer_social a {
  margin-left: 10px;
}
.circle-social {
  border: 1px solid #fff;
  border-radius: 50%;
  height: 29px;
  width: 29px;
  text-align: center;
}
.fa-facebook-f {
  color: #fff;
  padding-top: 5px;
}
.fa-twitter {
  padding-top: 5px;
}
.fa-instagram {
  color: #fff;
  padding-top: 5px;
}

.circle-social:hover {
  color: var(--SoftMagenta);
  border: 1px solid var(--SoftMagenta);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--SoftMagenta);
}
.attribution a {
  color: #ffffff;
  
}

@media (min-width: 665px) and (max-width: 1440px) {
  body {
    background: url(/images/bg-desktop.svg)  hsl(257, 40%, 49%) no-repeat;
    background-size: 90%;
  }
  .container{
    width: 100%;
    margin: 0;
    flex-flow: column ;
    flex:  1 1 360px;
  }
  .img{
    width: 1640px;
    padding-left: 70px;
   
  }
  .img-small{
    position: relative;
    left: -10;
    top: 25px;

  }
 .container_intermedio{
   display: flex;
   flex-direction: row;
   padding-top: 40px;
   padding-left: 80px;
 }
 .section-inf{
   padding-top: 150px;
   font-weight: 400;
 }
 .paragraph-inf{
   font-size: 16px;
 }
 
.footer_social{
  display: flex;
  justify-content: flex-end;
  margin: 30px;
  padding-right: 40px;
}
  .btn{
    position: absolute;
    left: 30;
    padding: 20px;
  }
}
